
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>

<%= javascript_include_tag "jquery.masonry.min.js" %>
<%= javascript_include_tag "modernizr-transitions.js" %>
<%= javascript_include_tag "jquery.infinitescroll.min.js" %>

<div style="text-align: center; font-weight: bold">
	<%= link_to image_tag("header_1.png", :border=>0 ), :action => 'show' %>
</div>
	
	
	<div id="log">
	
		<%= render "tumblelog" %>
		
	</div>
	
<div>
	<p>Blog @<a href="http://uberpwn.wordpress.com">Wordpress</p>	
</div>





