
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag params[:controller] %>

<div style="text-align: center; font-weight: bold">
	<%= link_to image_tag("header.png", :border=>0 ), :action => 'show' %>
</div>
	
	
	<div id="log">
	
	
		
		<style>
			/**
			 * Grid items
			 */
			
			#tiles {
				height: 100%;
			}
			
			#tiles .box {
			width: 200px;
			/* height: 200px; */
			background-color: #ffffff;
			border: 1px solid #dedede;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			display: none; /** Hide items initially to avoid a flicker effect **/
			  cursor: pointer;
			}
			
			#tiles .box-image {
				width: 200px; /* should match above width to line pic up */
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				border-radius: 2px;
			}

			/**
			 * Grid item text
			 */
			#tiles .box p {
			color: #666;
			font-size: 12px;
			margin: 5px 3px 3px 5px;
	
			}

			/**
			 * Some extra styles to randomize heights of grid items.
			 */
			#tiles .box:nth-child(3n) {
			 /* height: 175px; */
			}

			#tiles .box:nth-child(4n-3) {
			/* padding-bottom: 30px; */
			}

			#tiles .box:nth-child(5n) {
			/* height: 250px; */
			}
		
			#footer {
				width: 100%;
				text-align: center;
				position: inline;
				clear: both;
			
			}
		
		</style>
		
		<style type="text/css">
		     
			#next {
				display: block!important;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border: 1px solid #ddd;
				background: #efefef;
				text-align: center;
				font-weight: bold;
				box-shadow: 2px 2px 2px rgba(50,50,50,0.4);
				color: #444;
				text-decoration: none;
				padding: 5px;
			}
			#next:hover {
				background: #dfdfdf;
				color: #222;
			}

		</style>
		
		<div id="main" role="main">
			<div id="tiles">
				
				<%=h render_cell :photos, :display, :params => params %>

		    <!-- End of grid blocks -->
		 	</div>
		</div>
		
		<div id="footer">
	      	<nav id="page-nav">
			  <a id="next" href="/home/page/2">More</a>
			</nav>
	    </div>
		
		

		<!-- Include the plug-in -->

		<%= javascript_include_tag "jquery.wookmark.js" %>
		<%= javascript_include_tag "jquery.imageloader.min.js" %>
		
	  
		

		  <!-- Once the page is loaded, initalize the plug-in. -->
		  <script type="text/javascript">
		
			var page = 1;
		
		    $(document).ready(new function() {
		      // Prepare layout options.
		      var options = {
		        autoResize: true, // This will auto-update the layout when the browser window is resized.
		        container: $('#main'), // Optional, used for some extra CSS styling
		        offset: 10, // Optional, the distance between grid items
		        itemWidth: 202 // Optional, the width of a grid item
		      };

		      // Get a reference to your grid items.
		      var boxes = $('.box');

		      // Call the layout function.
		      //boxes.wookmark(options);
			  
			  renderBoxes(boxes, options);
		      

		    var $tiles = $('#tiles');

			  //infinite scroll setup
			$tiles.infinitescroll({
			      navSelector  : "a#next:last",            
			                     // selector for the paged navigation (it will be hidden)
			      nextSelector : "a#next:last",   
			                     // selector for the NEXT link (to page 2)
			      
			      itemSelector : '.box',     // selector for all items you'll retrieve
			      animate      : false, 
			      bufferPx     : 0,
			      extraScrollPx: 0,
				  autoResize: true
			      },
			      function( newElements ) {
			        
					renderBoxes(newElements, options);
			         
			      }
			    );

				// kill scroll binding
				// $(window).unbind('.infscr');
				// 				
				// 				$('a#next').click(function(){
				// 			      $(document).trigger('retrieve.infscr');
				// 			      return false;
				// 			    });
				// 			    
				// 
				// 			    // remove the paginator when we're done.
				// 			    $(document).ajaxError(function(e,xhr,opt){
				// 					//debugger;
				// 			      if (xhr.status == 404) $('a#next').remove();
				// 			    });

				
				
		    });
		
		
			function renderBoxes(newElements, options)
			{
				var $tiles = $('#tiles');
				
				// hide new items while they are loading
		        var $newElems = $( newElements ).css({ opacity: 0 });

				// show elems now they're ready
		
		
				// //already preloaded
				// 				$tiles.append($newElems.show());
				// 				$newElems.css({ opacity: 1 });
				// 				//$tiles.append($newElems.show());
				// 				$('.box').wookmark(options);
		
		
				//preload setup
				var images = $newElems.find('img').map(function(){ 
					return this.src;
				});
				
				//preload images async
				$({}).imageLoader({
				    images: images,
				    async: true,
					complete: function(e, ui) {
						
						var src = images[ ui.i ];
						
						//TODO: individual loads HERE INSTEAD OF BELOW
											var img = $newElems.find("img[src='" + src + "']");
						
						var box = img.closest('.box');
						//box.css({ opacity: 1 });
						$tiles.append(box.hide());
						//box.wookmark(options);
						//$('.box').wookmark(options);
					},
					error: function(e, ui){
						
					},
					allcomplete: function(e, ui){
						$newElems.css({ opacity: 1 }).show();
						//$tiles.append($newElems.show());
						$('.box').wookmark(options);
						//placeFooter();
						fetch()
					}
				});
			}
			
			
		 	function fetch(){
				page = page += 1;
				if (page != 20) {
					$(document).trigger('retrieve.infscr');
				}
			}
		
		  </script>

	
	
		
		
	</div>
	


